
  <h1>New book</h1>
<%= form_with model:book, local:true do |f| %>
  <div class="form-group">
    <label for="inputtitle">Title</label>
    <%= f.text_field :title, autofocus: true, id:"inputtitle", class:"form-control" %>
  </div>
  <div class="form-group">
    <label for="inputopinion">Opinion</label>
    <%= f.text_area :body, autofocus: true, id:"inputopinion",  class:"form-control" %>
  </div>
  <%= f.submit 'Create Book', class:"btn btn-success" %>
<% end %>



